header {
    margin-top: 1em;
}

#connection-state {
    font-weight: bold;
}

#github {
    margin-bottom: 2.0rem;
}

video {
    background: #f4f5f6;
    width: 100%;
}

.trace {
    color: #d7d7d7;
}